.category{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 300px;
  /* box-shadow: 15px 15px 20px #ccc; */
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  margin: 20px 5px;
}
.shift_right{
  transform: translateX(30%);
}
.shift_left{
  transform: translateX(-30%);
}